

* {
  box-sizing: border-box;
}

html {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
}

@media (min-width: 900px) {
  html {
    height: 100vh;
  }
}

body {
  max-width: 500px;
  font-family: Inter, sans-serif;
  min-height: 60vh;
  margin-block: 10vh;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3rem 2.5rem;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222A;
}


.nav--logo_icon {
  width: 3rem;
  margin-right: 1rem;
}

.nav--logo_text {
  color: #61DAFB;
  margin-right: auto;
  font-size: 1.6rem;
}

.nav--title {
  color: #DEEBF8;
}

.toggler {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.toggler p {
  font-size: 1rem;
  font-weight: 600;
}

.toggler--slider {
  width: 2.5rem;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #fff;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}


@media (max-width: 400px) {
  .main--title {
    font-size: 3.4rem;
  }
}

main {
  padding: 5.7rem 2.7rem;
  background-image: url("./images/react-icon-light.png"); 
  background-repeat: no-repeat;
  background-position: right center;
  flex: 1 1 auto;
  background-color: white;
  font-size: 1.6rem;
  color: #2B283A;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}

main.dark {
  background-image: url("./images/react-icon-dark.png"); 
  background-color: #282D35;
  color: white;    
}

.main--title {
  margin: 0;
  font-size: 3.9rem;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 4.6rem;
  max-width: 400px;
}

.main--facts > li {
  line-height: 1.2;
  padding-block: 1rem;
}

.main--facts > li::marker {
  font-size: 2rem;
  color: #61DAFB;
}